# .gitignore

# Ignore archives
*.zip

# Ignore compile logs

# Ignore all compiled files
freemodbus-v1.6/modbus/*.o
freemodbus-v1.6/modbus/ascii/*.o
freemodbus-v1.6/modbus/functions/*.o
freemodbus-v1.6/modbus/include/*.o
freemodbus-v1.6/modbus/rtu/*.o
freemodbus-v1.6/modbus/tcp/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/include/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/portable/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/portable/GCC/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/portable/GCC/ARM7_AT91SAM7S/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/FreeRTOS/portable/MemMang/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/port/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/support/*.o
freemodbus-v1.6/demo/AT91SAM7X_ROWLEY/system/*.o
freemodbus-v1.6/demo/ATSAM3S/*.o
freemodbus-v1.6/demo/ATSAM3S/board/*.o
freemodbus-v1.6/demo/ATSAM3S/board/at91sam3s4/*.o
freemodbus-v1.6/demo/ATSAM3S/board/at91sam3u4/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/cmsis/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/acc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/adc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/async/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/crccu/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/dacc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/efc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/flash/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/lcd/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/pio/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/pmc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/pwmc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/qtouch/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/rtc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/rtt/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/spi/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/spi-flash/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/ssc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/tc/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/tsd/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/twi/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/usart/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/utility/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/utility/encryption/*.o
freemodbus-v1.6/demo/ATSAM3S/libraries/drivers/wdt/*.o
freemodbus-v1.6/demo/ATSAM3S/port/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/board/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/board/at91sam3s4/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/board/at91sam3u4/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/include/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/GCC/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/GCC/ARM_CM3/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/GCC/ARM_CM3_MPU/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/IAR/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/IAR/ARM_CM3/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/RVDS/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/freertos/portable/RVDS/ARM_CM3/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/cmsis/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/acc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/adc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/async/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/crccu/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/dacc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/efc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/flash/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/lcd/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/pio/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/pmc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/pwmc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/qtouch/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/rtc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/rtt/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/spi/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/spi-flash/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/ssc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/tc/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/tsd/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/twi/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/usart/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/utility/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/utility/encryption/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/libraries/drivers/wdt/*.o
freemodbus-v1.6/demo/ATSAM3S_FREERTOS/port/*.o
freemodbus-v1.6/demo/AVR/*.o
freemodbus-v1.6/demo/AVR/port/*.o
freemodbus-v1.6/demo/BARE/*.o
freemodbus-v1.6/demo/BARE/port/*.o
freemodbus-v1.6/demo/HCS08/*.o
freemodbus-v1.6/demo/HCS08/port/*.o
freemodbus-v1.6/demo/LINUX/*.o
freemodbus-v1.6/demo/LINUX/port/*.o
freemodbus-v1.6/demo/LINUXTCP/*.o
freemodbus-v1.6/demo/LINUXTCP/port/*.o
freemodbus-v1.6/demo/LPC214X/*.o
freemodbus-v1.6/demo/LPC214X/build/*.o
freemodbus-v1.6/demo/LPC214X/build/bin/*.o
freemodbus-v1.6/demo/LPC214X/build/lst/*.o
freemodbus-v1.6/demo/LPC214X/build/obj/*.o
freemodbus-v1.6/demo/LPC214X/port/*.o
freemodbus-v1.6/demo/MCF5235/*.o
freemodbus-v1.6/demo/MCF5235/mcf523x/*.o
freemodbus-v1.6/demo/MCF5235/port/*.o
freemodbus-v1.6/demo/MCF5235/support/*.o
freemodbus-v1.6/demo/MCF5235CW/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/include/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/portable/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/portable/CodeWarrior/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/portable/CodeWarrior/MCF5235/*.o
freemodbus-v1.6/demo/MCF5235CW/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/MCF5235CW/include/*.o
freemodbus-v1.6/demo/MCF5235CW/include/arch/*.o
freemodbus-v1.6/demo/MCF5235CW/include/arch/mcf523x/*.o
freemodbus-v1.6/demo/MCF5235CW/port/*.o
freemodbus-v1.6/demo/MCF5235CW/support/*.o
freemodbus-v1.6/demo/MCF5235CW/system/*.o
freemodbus-v1.6/demo/MCF5235TCP/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/include/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/portable/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/portable/GCC/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/portable/GCC/MCF5235/*.o
freemodbus-v1.6/demo/MCF5235TCP/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/MCF5235TCP/include/*.o
freemodbus-v1.6/demo/MCF5235TCP/include/arch/*.o
freemodbus-v1.6/demo/MCF5235TCP/include/arch/mcf523x/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/port/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/port/FreeRTOS/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/port/FreeRTOS/MCF5235/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/port/FreeRTOS/MCF5235/arch/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/contrib/port/FreeRTOS/MCF5235/netif/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/doc/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/api/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/core/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/core/ipv4/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/core/ipv6/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/ipv4/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/ipv4/lwip/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/ipv6/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/ipv6/lwip/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/lwip/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/include/netif/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/netif/*.o
freemodbus-v1.6/demo/MCF5235TCP/lwip/src/netif/ppp/*.o
freemodbus-v1.6/demo/MCF5235TCP/port/*.o
freemodbus-v1.6/demo/MCF5235TCP/system/*.o
freemodbus-v1.6/demo/MSP430/*.o
freemodbus-v1.6/demo/MSP430/doc/*.o
freemodbus-v1.6/demo/MSP430/port/*.o
freemodbus-v1.6/demo/MSP430/system/*.o
freemodbus-v1.6/demo/STR71X/*.o
freemodbus-v1.6/demo/STR71X/freertos/*.o
freemodbus-v1.6/demo/STR71X/freertos/include/*.o
freemodbus-v1.6/demo/STR71X/freertos/portable/*.o
freemodbus-v1.6/demo/STR71X/freertos/portable/GCC/*.o
freemodbus-v1.6/demo/STR71X/freertos/portable/GCC/ARM7_STR71X/*.o
freemodbus-v1.6/demo/STR71X/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/STR71X/library/*.o
freemodbus-v1.6/demo/STR71X/library/include/*.o
freemodbus-v1.6/demo/STR71X/port/*.o
freemodbus-v1.6/demo/STR71XGCC/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/include/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/portable/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/portable/GCC/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/portable/GCC/ARM7_STR71X/*.o
freemodbus-v1.6/demo/STR71XGCC/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/STR71XGCC/libstr71x/*.o
freemodbus-v1.6/demo/STR71XGCC/libstr71x/include/*.o
freemodbus-v1.6/demo/STR71XGCC/port/*.o
freemodbus-v1.6/demo/STR71XGCC/support/*.o
freemodbus-v1.6/demo/STR71XGCC/system/*.o
freemodbus-v1.6/demo/STR71XGCC/tools/*.o
freemodbus-v1.6/demo/STR71XTCP/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/include/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/portable/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/portable/GCC/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/portable/GCC/ARM7_STR71X/*.o
freemodbus-v1.6/demo/STR71XTCP/freertos/portable/MemMang/*.o
freemodbus-v1.6/demo/STR71XTCP/library/*.o
freemodbus-v1.6/demo/STR71XTCP/library/include/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/port/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/port/FreeRTOS/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/port/FreeRTOS/STR71X/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/port/FreeRTOS/STR71X/arch/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/contrib/port/FreeRTOS/STR71X/netif/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/doc/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/api/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/core/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/core/ipv4/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/core/ipv6/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/ipv4/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/ipv4/lwip/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/ipv6/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/ipv6/lwip/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/lwip/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/include/netif/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/netif/*.o
freemodbus-v1.6/demo/STR71XTCP/lwip/src/netif/ppp/*.o
freemodbus-v1.6/demo/STR71XTCP/port/*.o
freemodbus-v1.6/demo/STR71XTCP/utils/*.o
freemodbus-v1.6/demo/WIN32/*.o
freemodbus-v1.6/demo/WIN32/Port/*.o
freemodbus-v1.6/demo/WIN32TCP/*.o
freemodbus-v1.6/demo/WIN32TCP/Port/*.o
freemodbus-v1.6/demo/Z8ENCORE/*.o
freemodbus-v1.6/demo/Z8ENCORE/port/*.o
